<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="abot" type="Abot.Core.ConfigurationSectionHandler, Abot"/>
  </configSections>  
  
  <abot>
    <crawlBehavior
      maxConcurrentThreads="11"
      maxPagesToCrawl="33"
      userAgentString="aaaa"
      crawlTimeoutSeconds="44"
      downloadableContentTypes="bbbb"
      isUriRecrawlingEnabled="true"
      isExternalPageCrawlingEnabled="true"
      isExternalPageLinksCrawlingEnabled="true"      
        />
    <politeness
      isThrottlingEnabled="true"
      manualCrawlDelayMilliSeconds="55"
      />
    <extensionValues>
      <add key="key1" value="value1" />
      <add key="key2" value="value2" />
    </extensionValues>
  </abot>
</configuration>