<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <abot>
    <politeness 
      isThrottlingEnabled="false"
      manualCrawlDelayMilliSeconds="0"
      />
    <crawlBehavior
      maxConcurrentThreads="10"
      maxDomainDiscoveryLevel="1"
      maxPagesToCrawl="1000"
      userAgentString="abot v1.0 http://code.google.com/p/abot"
      crawlTimeoutSeconds="0"
      downloadableContentTypes="text/html"
      isUriRecrawlingEnabled="false"
      />
    <ConfigurationExtensions>
      <ConfigurationExtension key="key1" value="value1" />
      <ConfigurationExtension key="key2" value="value2" />
    </ConfigurationExtensions>    
  </abot>
</configuration>