@using Abot.SiteSimulator.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Site Simulator</h2>
<!-- 61 pages expected -->
@{
    for (int x = 0; x < 50000; x++)
    {
        <a href="/PageGenerator/Generate?Status200Count=50000&Status403Count=0&Status404Count=0&Status500Count=0&Status503Count=0&Page=@x">Page @x</a>
    }
}


