@using Abot.SiteSimulator.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Site Simulator</h2>
<!-- 61 pages expected -->
@Html.ActionLink("Page1", "Generate", "PageGenerator", new { Status200Count = 5, Status403Count = 1, Status404Count = 2, Status500Count = 3, Status503Count = 4, Page = "1" }, null)<br />
@Html.ActionLink("Page2", "Generate", "PageGenerator", new { Status200Count = 5, Status403Count = 1, Status404Count = 2, Status500Count = 3, Status503Count = 4, Page = "2" }, null)<br />
@Html.ActionLink("Page3", "Generate", "PageGenerator", new { Status200Count = 5, Status403Count = 1, Status404Count = 2, Status500Count = 3, Status503Count = 4, Page = "3" }, null)<br />
@Html.ActionLink("Page4", "Generate", "PageGenerator", new { Status200Count = 5, Status403Count = 1, Status404Count = 2, Status500Count = 3, Status503Count = 4, Page = "4" }, null)<br />
<a href="http://yahoo.com/">Yahoo</a>
<a href="http://zoogle.com/">Zoogle</a>
